In [2]:
import pandas as pd
df = pd.read_csv('MAJNUM_utf8.csv', sep=";")
df2 = pd.read_csv('MAJR1R2_utf8.csv', sep=";")

In [3]:
df.head()

   EZABPQM  Tranche_Debut  Tranche_Fin Mnémo Territoire Date_Attribution
0      105      105000000    105999999  FRTE  Métropole       01/01/2017
1     1241      124100000    124199999  FRTE  Métropole       01/01/2017
2     1242      124200000    124299999  FRTE  Métropole       01/01/2017
3      130      130000000    130999999  FRTE  Métropole       01/01/2017
4      134      134000000    134999999  FRTE  Métropole       01/01/2017

In [8]:
df3 = pd.read_csv('merged_df.csv', dtype={"EZABPQM":str})
df3.head()

df3[df3['EZABPQM'] == '06298']

      EZABPQM Code Attributaire                         Attributaire
15806   06298              SFR0  Société française du radiotéléphone
16850   06298              SFR0  Société française du radiotéléphone